@import "tailwindcss";
@import "../custom-styles/fonts.css";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --font-IranYekanRegular:
}

@theme {

  --color-primary: #FA541C;
  --color-secondary: #032340;
  --color-gray: #F9F9F9;
  --color-primary-back: #FEEEE8;
  --color-secondary-back: #EBF5FF;
  --color-background: #FFFFFF;
  --color-secondary-0: #EBF5FF;
  --color-secondary-50: #CFE8FF;
  --color-secondary-100: #67AAE6;
  --color-secondary-150: #518CC1;
  --color-secondary-300: #2F5F8A;
  --color-secondary-400: #194165;
  --color-secondary-700: #021526;
  --color-secondary-850: #010A13;
  --color-secondary-900: #01070D;
  --color-primary-50: #FEEEE8;
  --color-primary-150: #FDCCBB;
  --color-primary-300: #FC9877;
  --color-primary-400: #FB7649;
  --color-primary-600: #E14C19;
  --color-primary-700: #963211;
  --color-primary-850: #4B1908;
  --color-primary-900: #190803;
  --color-neutral-50: #F9F9F9;
  --color-neutral-100: #EDEDED;
  --color-neutral-200: #D9D9D9;
  --color-neutral-300: #CBCBCB;
  --color-neutral-400: #ADADAD;
  --color-neutral-500: #868686;
  --color-neutral-600: #606060;
  --color-neutral-700: #404040;

  --font-RichardRegular: "Richard Regular";
  --font-IranSansMedium: "IranSans Medium";
  --font-IranSans: "IranSans";
  --font-IranSansBold: "IranSans Bold";
  --font-IranSansUltraLight: "IranSans UltraLight";
  --font-IranSansLight: "IranSans Light";
  --font-IranSansBlack: "IranSans Black";

  --text-xxs: 0.625rem;

  --breakpoint-*: initial;
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-white font-IranSans
}


.primary-link {
  @apply transition-colors duration-200 hover:text-primary
}

.icon-active {
  @apply transition-colors duration-200 delay-75 fill-black text-black
}