@import "tailwindcss";
@import "../custom-styles/fonts.css";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --font-IranYekanRegular:
}

@theme {

  --color-primary: #FA541C;
  --color-secondary: #032340;
  --color-gray: #F9F9F9;

  --font-RichardRegular: "Richard Regular";
  --font-IranSansMedium: "IranSans Medium";
  --font-IranSans: "IranSans";
  --font-IranSansBold: "IranSans Bold";
  --font-IranSansUltraLight: "IranSans UltraLight";
  --font-IranSansLight: "IranSans Light";
  --font-IranSansBlack: "IranSans Black";

  --text-xxs: 0.625rem;

  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-white font-IranSans
}


.primary-link {
  @apply transition-colors duration-200 hover:text-primary
}